<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User Profile Page</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<div class="header">
<div class="siteName">
  <h1>Cat_links</h1>
  <p>Find your purrrfect kitten here</p>
  </div>
<div class="navbar">
<ul>

</ul>
</div>
</div>
<body class="something">
<div class="userInfo">
  <h2>Hello,<span class=uName> <%= user.username %></span></h2>
  <p><span>You are:</span> <%= user.type %></p>
  <p><span>Email:</span> <%= user.email %></p>
  <p><span>Phone:</span> <%= user.phone %></p>
  <p><span>First Name:</span> <%= user.firstname %></p>
  <p><span>Last Name:</span> <%= user.lastname %></p>
  <p><span>City:</span> <%= user.city %></p>
  <p><span>State:</span> <%= user.state %></p>
  <p><span>Zipcode:</span> <%= user.zipcode %></p>

  <a href="../newcat"><p>Add a new kitten to the database</p></a>

   <p>Have a picture?</p>
  <input type="file" name="user[pic]" accept="image/*">
  <input type="submit" value="Submit!">
  </div>
</form>
</body>
</html>
